.flexbox-container{
  display: flex;
  justify-content: center;
}
.topnav {
  color: orange;
}
.topnav a{
  color: #e83a3a;
  text-decoration: none;
  padding: 5px;
}
.topnav a:hover {
  color: orange;
  text-align: center;
}
.topnav-centered a {
  float: none;
  padding-top: 20px;
  position: absolute;
  top: %;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
  color: black;
  text-align: center;
  padding-bottom: 1px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
h3{
  color: pink;
  text-align: center;

}
body{
  justify-content: center;
  background: #FFFFFF;
}
img{

  padding: px;
  height: 650px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


